### Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Import datasets

In [2]:
shark_cleaned = pd.read_csv("shark_merged_clean.csv")

In [3]:
shark_cleaned.head()

,company_or_product_name,description_of_product,deal_status,investing_dragon(s),episode,category,entrepreneurs(s),location,website,money_requested,stake_in_%_sold,valuation,season,shark1,shark2,shark3,shark4,shark5
0,PullyPalz,a pulley system to keep two pacifiers availabl...,True,Lori Greiner,24,Baby and Child Care,Julie Thompson,GA,http://pullypalz.com,100000,20,500000,6,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban
1,BeeSweet Lemonade,honey-sweetened lemonade with flaxseed,True,Daymond John,23,Non-Alcoholic Beverages,Mikaila and Theo Ulmer,TX,http://beesweetlemonade.com,60000,10,600000,6,Lori Greiner,Robert Herjavec,Kevin O'Leary,Daymond John,Mark Cuban
2,Melni Connectors,a simpler connector for industrial electrical ...,True,Marc Cuban,25,Electronics,"Byron Dunn, Mark Melni, and Armand Eckert",ID,http://www.melniconnectors.com,500000,5,10000000,6,Lori Greiner,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Mark Cuban
3,NeatCheeks,wipes flavored with stevia for cleaning childr...,True,Barbara Corcoran,25,Baby and Child Care,Danielle Stangler and Julia Rossi,CO,https://neatcheeks.com,150000,20,750000,6,Lori Greiner,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Mark Cuban
4,PittMoss,an alternative to peat moss manufactured from ...,True,Kevin O'Leary+Marc Cuban+Robert Herjavec,25,Gardening,Mont Handley,PA,http://pittmoss.com,600000,25,2400000,6,Lori Greiner,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Mark Cuban

In [4]:
dragons = pd.read_csv("Dragons_den_web_scrape_wikipedia.csv")

In [5]:
dragons.head()

,episode,first_aired,entrepreneur(s),company_or_product_name,money_requested_converted_$,stake_in_%_sold,description_of_product,investing_dragon(s),fate,season,valuation
0,1,31 July 2011,Georgette Hewitt,The Present Club,79142,NaN,A website for buying gifts for children,Peter Jones and Theo Paphitis,active,9,NaN
1,1,31 July 2011,Chris Hopkins,Ploughcroft Solar,158284,NaN,A company that installs solar panels in homes,Deborah Meaden and Theo Paphitis,active,9,NaN
2,2,7 August 2011,"Christian Hartmann, Martin McLaughlin, Tom Cal...",Love Da Pop,92332,NaN,A business turning the old popcorn treat into ...,Peter Jones,active,9,NaN
3,2,7 August 2011,Liz and Alan Colleran,Raskelf Memory Foam (Duvalay),105523,NaN,A zip-up memory foam mattress and duvet combo,Hilary Devey,active,9,NaN
4,3,14 August 2011,Peter and Michelle Hart,Fun Fancy Dress,131903,NaN,Fancy-dress shop business and franchise,Duncan Bannatyne,\tdeal fell through after filming,9,NaN

### Shark_vs_dragon -- Investments

The same amount of episodes in Shark Tank US and Dragons' Den are compared.
1) Shark Tank US Season 1 to 6
2) Dragons' Den Season 9 to 19

#### 1) Shark Tanks -- Total Investments

In [109]:
condition = shark_cleaned.apply(lambda x: True if x['deal_status'] == True else False, axis=1)
s_investments = len(condition[condition == True].index)
s_investments

202

#### 2) Dragons' Den -- Total Investments

In [110]:
d_investments = dragons['valuation'].count()
d_investments

119


### Top 10 valuations

The top 10 companies and their evaluations are listed.

#### 1) Shark Tanks

In [119]:
top_valuations = (shark_cleaned.loc[shark_cleaned['deal_status'] == True, 
                                       ['company_or_product_name','valuation']]
                                        .sort_values(['valuation'], ascending = [False]))

In [120]:
top_valuations.reset_index(drop=True).head(10)

       company_or_product_name  valuation
0                SynDaver Labs   30000000
1                         Zipz   25000000
2   Ten Thirty One Productions   20000000
3                EmazingLights   13000000
4                       Plated   12500000
5       The Red Dress Boutique   12000000
6                    Roominate   10000000
7        Zero Pollution Motors   10000000
8             Melni Connectors   10000000
9  RuffleButts and RuggedButts    8571429

#### 2) Dragons' Den

In [121]:
top_valuations = (dragons[['company_or_product_name', 'valuation']]
                 .sort_values(['valuation'], ascending = [False]))

In [122]:
top_valuations.reset_index(drop=True).head(10)

     company_or_product_name  valuation
0               Lost my Name    2638060
1               StoryTerrace    2374260
2           Drynks Unlimited    2198387
3             Love Me Beauty    1319038
4                    TOAD.ai    1319030
5                     Zapper    1099193
6  The Raw Chocolate Company     949700
7                 Nae Danger     879353
8           Mainstage Travel     879353
9         Karuma Innovations     791420

### Valuations and Money Requested [USD]

#### 1) Shark Tanks

On average a participant company was valued at USD 2,000,000.

In [98]:
round(shark_cleaned['valuation'].describe(),2)

count         202.00
mean      2014212.22
std       3660757.93
min         49020.00
25%        500000.00
50%        900000.00
75%       2000000.00
max      30000000.00
Name: valuation, dtype: float64

On average USD 230,000 was requested.

In [104]:
round(shark_cleaned['money_requested'].describe(),2)

count        202.00
mean      234351.49
std       468974.62
min        20000.00
25%        75000.00
50%       117500.00
75%       250000.00
max      5000000.00
Name: money_requested, dtype: float64

#### 2) Dragons' Den

On average a participant company was valued at USD 420,000.

In [100]:
round(dragons['valuation'].describe(),2)

count        119.00
mean      420131.11
std       395840.12
min        87936.00
25%       219840.00
50%       293118.00
75%       468254.00
max      2638060.00
Name: valuation, dtype: float64

On average USD 92,000 was requested.

In [103]:
round(dragons['money_requested_converted_$'].describe(),2)

count       138.00
mean      91935.63
std       38987.32
min       32976.00
25%       65952.00
50%       79142.00
75%      105523.00
max      329758.00
Name: money_requested_converted_$, dtype: float64